---
layout: default
title: devfreedom?
---

<div class="flex flex-col md:flex-row lg:flex-row items-center justify-center text-md">
    {% if author.avatar %}
        <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">
        <img class="w-32 h-32 md:w-40 md:h-40 m-5" src="{{ author.avatar | url }}" width="128" height="128" alt="Author avatar">
    </a>
    {% endif %}
    <div class="text-left>
    <div class="text-center mt-8">
        <h1 class="text-xl font-semibold text-gray-800 leading-relaxed mt-0 mb-1">
            <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">{{ author.name }}</a>
        </h1>
        {% if author.email %}
        <div class="text-gray-600">
            <a href="mailto:{{ author.email }}">{{ author.email }}</a>
        </div>
        {% endif %}
        {% if author.phone %}
        <div class="text-gray-600">
            <a href="tel:{{ author.phone }}">{{ author.phone }}</a>
        </div>
        {% endif %}
        {% if author.bio %}
        <p class="mt-3 text-gray-700">{{ author.bio }}</p>
        {% endif %}
    </div>
</div>
<div class="flex flex-col mt-10">
    <h2 class="text-xl font-bold">Who are you?</h2>
    <p class="text-md mt-3 px-3 border-l-4 border-gray-500">I'm a generalist who grew up with code and computing.</p> 
</div>
<div class="flex flex-col mt-10">
    <h2 class="text-xl font-bold">Are you a developer?</h2>
    <p class="text-md mt-3 px-3 border-l-4 border-gray-500">No, I'm just a learner. I wanted to become a career developer but I quickly realized I'm not cut out for that.</p> 
</div>
<div class="flex flex-col mt-10">
    <h2 class="text-xl font-bold">What does "devfreedom" mean?</h2>
    <p class="text-md mt-3 px-3 border-l-4 border-gray-500">I wanted come up with an alias for my tech and development-related works and study, and I picked "dev" and "freedom". "dev" for an obvious reason, and "freedom" because I'm a free and open source technology enthusiast. Since I'm not a career techie, I tinker with softwares and hardwares in my free time, freely without obligation, so this made sense as well. I aim to extend its meaning to "devise better freedom of information", "do my devoir with my freedom", "devote to help people with less freedom" by contributing my ability for the greater good and ideal.</p>
</div>
<div class="flex flex-col mt-10">
    <h2 class="text-xl font-bold">What does "devfreedom" mean?</h2>
    <p class="text-md mt-3 px-3 border-l-4 border-gray-500">I wanted come up with an alias for my tech and development-related works and study, and I picked "dev" and "freedom". "dev" for an obvious reason, and "freedom" because I'm a free and open source technology enthusiast. Since I'm not a career techie, I tinker with softwares and hardwares in my free time, freely without obligation, so this made sense as well. I aim to extend its meaning to "devise better freedom of information", "do my devoir with my freedom", "devote to help people with less freedom" by contributing my ability for the greater good and ideal.</p>
</div>